@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: 400%;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
#flavoursContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#flavoursContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flip:hover .filp-content {
  transform: rotateY(180deg);
}
.filp-content {
  transform-style: preserve-3d;
  transition-duration: 500ms;
}

.card {
  @apply absolute;
  backface-visibility: hidden;
}

.transform-rotateY-180 {
  transform: rotateY(180deg);
}
